<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page!</h1>

    <form action="/users/new" method="post">
        <input name="username" type="text" placeholder="username"> <br>
        <input name="password" type="password" placeholder="password"> <br>
        <button>Submit</button>
    </form>

    <a href="/download/random">Donwload File</a>
</body>
</html>