<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li><a href="/logout">logout</a></li>
    <h1>Home Page</h1>

    <% if (user) { %>
        <h1>Username: <%= user.username %></h1>
        <h1>Email: <%= user.email %></h1>
    <% } %>

    
</body>
</html>